@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  background: #fbfbfb;
  font-size: 1.2rem;
  color: #222;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(210, 210, 255, 1) 0%,
    rgba(162, 189, 255, 1) 33%,
    rgba(170, 239, 252, 1) 87%
  );
  min-height: 100vh;
}

.style {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-weight: 600;
  margin: 3rem 0;
  border-radius: 4px;
  color: white;
}

.button {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1.1rem 0.75rem;
  background: #222;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 6px 8px 10px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.button:hover {
  background: #333;
}

@media (max-width: 500px) {
  .button {
    margin: 0 0.5rem;
  }
}
